<% if flash.has?(:message) %>
<section class="cf pa3 mw9 center">
  <h6 class="f6 pa2-ns"><%= flash[:message] %></h6>
</section>
<% end %>

<section class="cf pa3 mw9 center">
  <article class="fl w-100 w-50-m  w-50-ns pa2-ns">
    <a href="/notebooks/<%= @notebook.slug %>/edit" class="ph2 ph0-ns pb3 link db">
      <h2 class="f4 f4-ns mb0 black-90">#00<%= @notebooks.index(@notebook) +1 %></h2>
      <h3 class="f5 f4-ns mb0 black-90"><%= @notebook.title %></h3>
      <h3 class="f6 f5 fw4 mt2 black-60"><%= @notebook.description %></h3>
    </a>
    <% @notebook.notes.each do |note| %>
      <h3 class="f6 f5 fw4 mt2 black-60">- <%= note.content %></h3>
    <% end %>
    <% @notebook.tasks.each do |task| %>
      <h3 class="f6 f5 fw4 mt2 black-60">· <%= task.name %></h3>
    <% end %>
    <% @notebook.bookmarks.each do |bookmark| %>
      <a href="<%= bookmark.link %>" class="ph0-ns pb3 link db">
        <h3 class="f6 f5 fw4 mt2 black-60"># <%= bookmark.link %></h3>
      </a>
    <% end %>

    <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" href="/notebooks/<%= @notebook.slug %>/notes/new" title="Add">Add Note</a>
    <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" href="/notebooks/<%= @notebook.slug %>/bookmarks/new" title="Add">Add Bookmark</a>
    <a class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" href="/notebooks/<%= @notebook.slug %>/tasks/new" title="Add">Add Task</a>
    <form action="/notebooks/<%= @notebook.slug %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input class="f6 link dim br-pill ph3 pv2 mb2 dib white bg-black" type="submit" value="Delete">
    </form>
  </article>
</section>

<article class="pa3 pa5-ns" data-name="slab-stat-small">
  <h3 class="f6 ttu tracked">Stats</h3>
  <div class="cf">
      <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l mr5-ns">
        <dd class="f6 fw4 ml0">Notes</dd>
        <dd class="f3 fw6 ml0"><%= @notebook.notes.all.size %></dd>
      </dl>
      <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l mr5-ns">
        <dd class="f6 fw4 ml0">Bookmarks</dd>
        <dd class="f3 fw6 ml0"><%= @notebook.bookmarks.all.size %></dd>
      </dl>
      <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l mr5-ns">
        <dd class="f6 fw4 ml0">Tasks</dd>
        <dd class="f3 fw6 ml0"><%= @notebook.tasks.all.size %></dd>
      </dl>
  </div>
</article>
